{include file="header" title="$title" /}
    <div class="page-title i-card-main">
        <i class="iconfont icon-page"></i>
        <span>DASHBOARD PAGE</span>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="i-card-main">
                <span>用户数量 2000</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="i-card-main">
                <span>挑战数量 2000</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="i-card-main">
                <span>当前在线 2000</span>
            </div>
        </div>
    </div>
</div>
{include file="footer" /}
 </body></html>