@font-face {
  font-family: "iconfont"; /* Project id 2581065 */
  src: url('//at.alicdn.com/t/c/font_2581065_uwn3o0ja2cr.woff2?t=1673709404093') format('woff2'),
       url('//at.alicdn.com/t/c/font_2581065_uwn3o0ja2cr.woff?t=1673709404093') format('woff'),
       url('//at.alicdn.com/t/c/font_2581065_uwn3o0ja2cr.ttf?t=1673709404093') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e602";
}

.icon-add:before {
  content: "\e6a6";
}

.icon-dashboard:before {
  content: "\e70a";
}

.icon-list-style:before {
  content: "\e749";
}

.icon-post:before {
  content: "\e68b";
}

.icon-page:before {
  content: "\e601";
}

.icon-menu-fill:before {
  content: "\e631";
}

.icon-home:before {
  content: "\e62b";
}

.icon-check_code:before {
  content: "\e63b";
}

.icon-lianjie:before {
  content: "\e748";
}

.icon-caidan:before {
  content: "\e600";
}
