<div class="footer" style="margin-top: -50px;">
    Powered by <a href="https://github.com/5ime/moectf" target="_blank">MoeCTF</a>
    <or>
        <a href="https://github.com/5ime/moectf/wiki" target="_blank">使用文档</a>
    <or>
        <a href="https://github.com/5ime/moectf/issues" target="_blank">问题反馈</a>
</div>
<script src="/public/static/js/jquery.min.js"></script>
<script src="/public/static/js/bootstrap.min.js"></script>
<script src="/public/static/js/main.js"></script>
<script src="/public/static/js/popper.min.js"></script>
<script src="/public/static/js/layer.js"></script>